@import '../../../assets/scss/variables';
@import '../../../assets//scss/placeholders';

.Container {
  @include flex(flex-start, flex-start, column nowrap);
  gap: 1rem;
}

.BtnContainer {
  @include flex(center, space-between);

  a {
    @extend %btn;
  }
}

.Forgot__Password {
  align-self: flex-end;
  transition: all 250ms ease-in-out;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid darken($main-color, 50%);
  }
}
