@import 'reset';
@import 'variables';
@import 'fonts';
@import 'placeholders';

html {
  background-color: rgb(28, 28, 29);
  font-family: 'finger paint', sans-serif;
  font-size: 16px;
}

button {
  @extend %btn;
}
